.product__item {
    margin-bottom: 20px;
    border-bottom: 4px solid #e6e6e6;
    padding-bottom: 20px;
    list-style: none;

    img {
        height: 200px;
    }
}

.product__item--flex {
    display: flex;
    margin-bottom: 20px;
}

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
}

p {
    font-family: 'Roboto', serif;
    font-weight: 700;
}

.product__info {
    margin-left: 16px;
}

.products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product__price {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
}

.product__icons {
    display: block;
    margin: 8px 0 0 42px;
}

.product__icon {
    font-size: 50px;
    cursor: pointer;
}

.products__list {
    ul {
        @media all and(max-width: 420px) {
            padding-left: 20px;
        }
    }
}

.product__spinner {
    display: flex;
    justify-content: center;
    width: 100%;
}

i.product__icon.material-icons.product__icon--selected {
    background: #e6e6e6;
}

.material-icons {
    cursor: pointer;
}