.product__btn {
    background: dodgerblue;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 60px;
    padding: 4px;
    width: 120px;
    outline: none;
}